{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
    <h4>Remove Submitted Order</h4>
    <form method="POST">
      {{ form.hidden_tag() }}

      {{ form.submit() }}
    </form>
    {# Display flash messages, if any, for all pages #}
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class='flashes'>
        {% for message in messages %}<li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
</div>
{% endblock %}
